body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header img {
    width: 150px;
    border-radius: 50%;
}

h1 {
    color: #f39c12;
    text-align: center;
}

.quote {
    font-style: italic;
    color: #555;
    text-align: center;
    margin: 20px 0;
    background-color: #f39c12;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em; /* Ridurre la dimensione del testo */
    width: 100%; /* Assicurarsi che la citazione occupi l'intera larghezza */
    box-sizing: border-box; /* Includere padding e bordo nella larghezza */
    display: flex; /* Utilizzare il layout flexbox */
    justify-content: center; /* Centrare il contenuto orizzontalmente */
    align-items: center; /* Centrare il contenuto verticalmente */
    flex-wrap: wrap; /* Avvolgere il contenuto su più righe se necessario */
}

@media(min-width: 768px) {
    .quote {
        font-size: 1.5em; /* Aumentare la dimensione del testo su schermi più grandi */
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr; /* Una colonna singola su dispositivi mobili */
    gap: 20px;
    max-width: 1500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text, .paraphrase, .comments {
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 5px;
}

.text {
    border-right: 2px solid #3498db;
}

.paraphrase {
    border-right: 2px solid #e74c3c;
}

/* Regole per dispositivi desktop (schermi da 768px in su) */
@media(min-width: 768px) {
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Disponiamo in tre colonne */
    }
}

p {
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

h2 {
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-left: 4px solid #ccc;
}

ul li strong {
    color: #c0392b;
}

ul li em {
    color: #27ae60;
}
